@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="container">
        <div class="jumbotron">
            <h1>Telemetry class project 1</h1>
            <ol>
                <li>Add Telemetry for when this page is loaded.</li>
                <li>Add Telemetry for When the button is clicked.</li>
            </ol>
        </div>
    </div>
    <button onclick="alert('The button was clicked')">Click this button</button>
</div>
