@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="container">
        <div class="jumbotron">
            <h1>Telemetry class project 1</h1>
            <ol>
                <li>Add Telemetry for when this page is loaded.</li>
                <li>Add Telemetry for when the button is clicked.</li>
            </ol>
        </div>
    </div>
    <form method="post">
        <button onclick="alert('You clicked the button')" type="submit">Click this Button</button>
    </form>"
</div>
